<body style="background-image: url('https://wallpaperset.com/w/full/1/f/b/59155.jpg'); background-size: 100% 100%; color: white">

    <div>
        <h1>Welcome to the Pokémon Battle Arena</h1>
        <h2>Trainers: Please enter your names</h2>
        </br>
        <form action="/names" method="post">
            <label for="player1_name">
                Player 1:
                <input type="text" placeholder="Enter your name" name="player1_name">
            </label>
            </br>
            </br>
            <label for="player2_name">
                Player 2:
                <input type="text" placeholder="Enter your name" name="player2_name">
            </label>
            </br>
            </br>
            <input type="submit" value="Submit">
        </form>
        </br>
    </div>
    <iframe style="visibility: hidden" width="420" height="315"
    src="https://www.youtube.com/embed/2Jmty_NiaXc?autoplay=1" allow="autoplay">
    </iframe>
</body>

