<body style='background-image: url("https://www.ssbwiki.com/images/thumb/7/73/SSBU-Pok%C3%A9mon_Stadium_2.png/1200px-SSBU-Pok%C3%A9mon_Stadium_2.png"); background-size: 100% 100%'>
    <div style="color: white; text-shadow: 4px 4px 4px #000000;">
        <div style="justify-content: space-between; display: flex; font-size: 20px;">
            <h1><%= @player1_name %></h1>
            <h1>VERSUS</h1>
            <h1><%= @player2_name %></h1>
        </div>
        <div style="justify-content: space-between; display: flex">
            <h2>Player 1 health: <%= @player1_health %>HP</h2>
            <h2>Player 2 health: <%= @player2_health %>HP</h2>
        </div>
    </div>
<body>

 